[submodule "MicrobiomeGS/community_modeling_coupling"]
	path = MicrobiomeGS/community_modeling_coupling
	url = git@cau-git.rz.uni-kiel.de:MSB/community_modeling_coupling.git
[submodule "constrained-base-analysis"]
	path = constrained-base-analysis
	url = git@github.com:Unaimend/constrained-base-analysis.git
